<nav class="navbar navbar-expand-lg navbar-custom">
  <b><%= link_to "Athletes Den", root_path, class: "navbar-brand" %></b>
  <button class="navbar-toggler custom-toggler" type="button"
                                 data-toggle="collapse"
                                 data-target="#navbarSupportedContent"
                                 aria-controls="navbarSupportedContent"
                                 aria-expanded="false"
                                 aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <big><b><%= link_to "Home", "#", class:"nav-link" %></b></big>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#"
                                            id="navbarDropdown"
                                            role="button"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
          <big><b>Actions</b></big>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "xxx", "#", class:"dropdown-item" %>
          <%= link_to "xxx", "#", class:"dropdown-item" %>
          <%= link_to "xxx", "#", class:"dropdown-item" %>
        </div>
      </li>
      <li class="nav-item">
        <big><b><%= link_to "xxx", "#", class:"nav-link" %></b></big>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <big><b><%= link_to "Login", "#", class:"nav-link" %></b></big>
        </li>
        <li class="nav-item">
          <big><b><%= link_to "Signup", "#", class:"nav-link" %></b></big>
        </li>
      </ul>
    </form>
  </div>
</nav>
